@use "vars-scss" as *;

:root {
    --HSL-server-icon-size: 25px;
    /* Size of the server icons | DEFAULT: 40px */
    --HSL-server-spacing: 10px;
    /* Spacing between each server icon | DEFAULT: 10px */
    --HSL-server-direction: column;
    /* Direct of the server list. | Options: column, column-reverse | DEFAULT: column */
}

code,
.markup-eYLPri pre {
    font-family: var(--font-code);
}

.theme-dark {
    --xp-bg-color: #000;
    --xp-bg-bright-color: #234;
    --xp-bg-tint-color: #123;
    --xp-bg-shade-color: #012;
    --xp-txt-color: #fff;
    --xp-border-color: #{$blue-select};
    --xp-set-color: #{$white-overlay};
    --xp-hover-color: #123;
    --xp-zing-color: #a50;
}

.theme-light {
    --xp-bg-color: white;
    --xp-bg-bright-color: #{$beige-light};
    --xp-bg-tint-color: #{$beige};
    --xp-bg-shade-color: grey;
    --xp-txt-color: black;
    --xp-border-color: black;
    --xp-set-color: #{$black-overlay};
    --xp-hover-color: lightgrey;
    --xp-zing-color: orange;
}