@use "top/vars-scss" as *;
@use "top/boxes" as box;
@use "top/shortcutIcon" as ico;

@use "main/channels";
@use "main/taskbar";
@use "main/threads";
@use "main/titlebar";

// Avatar sphere effect
.wrapper-1VLyxH::before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background: radial-gradient(
        circle at 25% 25%,
        $white-overlay,
        transparentize($white-overlay, 0.4) 20%,
        transparentize($white-overlay, 0.6) 40%,
        transparent
    );
    border-radius: 50%;
    z-index: 1;
}

// Image background
.bg-1QIAus {
    background: var(--background-image, url(https://saltssaumure.github.io/xp-discord-theme/img/bliss.jpg)) center/cover;
}

// Main view
.container-1eFtFS {
    // Channels sidebar and main chat
    .base-2jDfDU {
        // Notice banner
        .notice-2olXi7 {
            top: $window-top;
            margin: 0 $window-right 0 $window-left;
            width: auto;
            border-radius: 0;
            border: solid $blue-select;
            border-width: 0 2px 0 2px;
            box-shadow: none;
        }

        // Call banner (in DMs)
        .wrapper-1gVUIN {
            z-index: 0;
        }

        .content-1jQy2l::before {
            z-index: 0;
        }

        // Top bar (not in DMs)
        .chat-2ZfjoI > .title-31SJ6t {
            .toolbar-3_r2xA {
                // Move help icon
                .anchor-1X4H4q .iconWrapper-2awDjA:only-of-type {
                    @include ico.makeIcon(50px, auto, ".icon-2xnN2Y");
                    top: $window-top + 90px;
                }

                // Move show/hide member list button
                .iconWrapper-2awDjA:is(#{ico.makeSelectors()}) {
                    @include ico.makeIcon(auto, 50px, ".icon-2xnN2Y");
                }
            }
        }

        // Main DM and friend list view
        .container-2cd8Mz,
        // Explore servers view
        .pageWrapper-2PwDoS,
        // University hub
        .scroller-RfJjkV,
        // Buy nitro page
        .applicationStore-2nk7Lo,
        // Main chat
        .chat-2ZfjoI:not(.container-2IKOsH > .chat-2ZfjoI) {
            @include box.mainWindow();
        }

        // University hub
        .scroller-RfJjkV {
            height: auto;
        }

        // Main chat and top bar
        .chat-2ZfjoI:not(.container-2IKOsH > .chat-2ZfjoI) {
            // Main chat
            .chatContent-3KubbW {
                // Message box
                .form-3gdLxP {
                    // Gift nitro button
                    .buttons-uaqb-5 > .button-ejjZWC {
                        @include ico.makeIcon(50px, auto, ".buttonWrapper-3YFQGJ");
                        top: $window-top;

                        .button-3BaQ4X {
                            margin: 0;

                            .buttonWrapper-3YFQGJ {
                                padding: 0;
                                margin: 0;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }

                    // Autocompleter
                    .autocomplete-3NRXG8 {
                        width: calc(100% - 150px);
                    }
                }
            }

            // Forums
            .headerRow-1MKoR-,
            .list-3FIpnh > div:first-child {
                min-width: 0;
            }

            // Members list
            .membersWrap-3NUR2t {
                @include box.startMenuList();

                position: fixed;
                right: 30px;
                top: 180px;
                height: 65vh;
                max-height: calc(100vh - 400px);
                @include box.windowHasPseudoTitle("Members");

                .members-3WRCEx {
                    background: var(--xp-bg-color);

                    // Member group
                    .membersGroup-2eiWxl:not(:nth-child(2)) {
                        position: relative;
                        @include box.startMenuDivider(7px);
                    }

                    // Member
                    .member-48YF_l,
                    .member-2gU6Ar {
                        background: var(--xp-bg-color);

                        .container-1oeRFJ,
                        .layout-1qmrhw {
                            border-radius: 0;
                        }
                    }
                }
            }

            // VC video
            .video-3n15R6 {
                z-index: 0;
            }
        }

        // With members list visible
        &:has(.membersWrap-3NUR2t) {
            
            // VC video controls
            .bottomControls-31YuPK {
                width: auto;
                padding-right: 150px;
            }

            // Message
            .message-2CShn3 {
                padding-right: 140px !important;

                // Message actions
                .container-2gUZhU {
                    right: 130px;
                }
            }
        }
    }
}
