// Member list
$panel-width: 240px;

// Chat window
$window-top: 50px;
$window-right: 120px;
$window-bottom: 50px;
$window-left: 270px;

// Window bars
$title-height: 30px;

// General colours
$blue-select: rgb(22, 101, 202);
$blue-max: rgb(0, 90, 231);
$blue-vivid: rgb(3, 114, 255);
$blue-mild: rgb(87, 140, 208);
$blue-bright: rgb(16, 140, 228);

$red-bright: rgb(230, 77, 28);
$red-max: rgb(199, 50, 7);

$green-bright: rgb(56, 196, 56);
$green-max: green;

$test-color: rgb(56, 57, 121);
$beige: rgb(235, 232, 215);
$beige-light: rgb(240, 239, 237);

$white-overlay: hsla(0,0%,100%,0.8);
$black-overlay: hsla(0,0%,0%,0.7);