@use "../../top/vars" as *;
@use "../../top/boxes" as box;
@use "../../top/buttons" as bt;
@use "../../top/shadows" as shd;

// Color picker
.customColorPicker_bbc020 {
    @include box.beigeBox;

    // Hex code box
    .input_f27786 {
        @include bt.button;
    }

    // Suggested colour buttons
    .suggestedColor__713b5 {
        @include bt.button;
    }

    // Saturation brightness grid
    .saturation__918ba {
        @include shd.boxShadow($ISINSET: true);
    }

    // Hue slider
    .hue-horizontal {
        @include shd.boxShadow;

        // Grabber
        div:last-child {
            height: 12px;
            width: 10px;
            margin-top: -4px;

            div {
                border-radius: 3px;
                border: solid $color-start-2;
                border-width: 3px 0;
                @include shd.boxShadow($ISINSET: true);
            }
        }
    }
}
