@use "../../top/vars" as *;
@use "../../top/boxes" as box;
@use "../../top/buttons" as bt;

// Emoji pickers
#emoji-picker-tab-panel {
    --interactive-normal: var(--xp-txt-color);
    --interactive-hover: var(--xp-txt-color);
    --interactive-active: var(--xp-txt-color);
    --text-normal: var(--xp-txt-color);
    --header-secondary: var(--xp-txt-color);
    --background-primary: #{$color-taskbar-3};

    .header-11eigE {
        background: var(--xp-bg-tint-color);
        border-radius: 0;

        .searchBar-2M9mRP {
            @include bt.inset;
        }

        .diversitySelectorButton-2CGlo5,
        .diversitySelectorOptions-3DhNYs {
            @include bt.button;
            padding: 3px;
        }
    }

    .emojiPicker-6YCk8a {
        background: var(--xp-bg-color);
        border-radius: 0;

        // Emoji grid
        .bodyWrapper-1eSOtW {
            box-shadow: (inset 0 0 2px 2px grey);

            // Section title
            .wrapper-1NNaWG {
                background: linear-gradient(to bottom, transparent, var(--xp-bg-color), transparent);
            }

            // Hovered emoji
            .emojiItem-277VFM.emojiItemSelected-2Lg50V {
                @include bt.inset;
            }
        }

        // Emoji info
        .inspector-DFKXwB {
            background: var(--xp-bg-tint-color);
        }
    }

    .categoryList-2qRrlj {
        background: var(--xp-bg-tint-color);
    }
}

// Reaction emoji picker
.animatorLeft-1I1Kvj > #emoji-picker-tab-panel {
    @include box.windowHasPseudoTitle("Add a reaction");
}

// Gif / sticker / emoji picker
.contentWrapper-3vHNP2 {
    --interactive-normal: var(--xp-txt-color);
    --interactive-hover: var(--xp-txt-color);
    --interactive-active: var(--xp-txt-color);
    --text-normal: var(--xp-txt-color);
    --header-secondary: var(--xp-txt-color);
    --background-primary: #{$color-taskbar-3};
    --background-tertiary: transparent;
    background: var(--xp-bg-tint-color);
    border-radius: 0;
    overflow: visible;
    @include box.windowHasPseudoTitle("Chat addition");

    // Gif / sticker / emoji buttons
    .navButton-1XuvI- {
        @include bt.button;

        &.navButtonActive-1EqC5l {
            @include bt.inset;
        }
    }

    // Gif / sticker searchbar
    .container-1SX9VC,
    .container-2oNtJn {
        @include bt.inset;
    }

    // Sticker picker
    #sticker-picker-tab-panel {
        // Sticker grid
        #sticker-picker-grid {
            background: var(--xp-bg-color);
            box-shadow: (inset 0 0 2px 2px var(--xp-bg-shade-color));

            // Section title
            .wrapper-1NNaWG {
                background: linear-gradient(to bottom, transparent, var(--xp-bg-color), transparent);
            }
        }

        // Discord default sticker button
        .standardStickerShortcut-ObSns3 {
            background: var(--xp-bg-tint-color);
        }

        // Emoji info
        .inspector-DFKXwB {
            background: var(--xp-bg-tint-color);
        }
    }

    .categoryList-2qRrlj {
        background: var(--xp-bg-tint-color);
    }

    // Gif picker
    #gif-picker-tab-panel {
        background: var(--xp-bg-tint-color);

        // Back button
        .backButton-bSKWLe {
            color: var(--xp-txt-color);
        }

        // Favs category
        .categoryFadeBlurple-1l49_Q {
            background: var(--xp-zing-color);
        }

        // Item / category
        .result-pzZrwj {
            background-color: var(--xp-bg-color) !important;

            &::after {
                box-shadow: inset 0 0 0 2px var(--xp-bg-color);
                border-radius: 0;
            }
        }

        // Hovered
        .focused-16Owih,
        .result-pzZrwj:hover {
            box-shadow: 0 11px 22px 1px var(--xp-zing-color);
        }

        // Placeholder for loading gif
        .placeholder-T1Tuu8 {
            border-radius: 0;
            background: var(--xp-set-color);
        }
    }
}
