@use "../../top/vars" as *;
@use "../../top/boxes" as box;
@use "../../top/buttons" as bt;

// Emoji pickers
#emoji-picker-tab-panel {
    --interactive-normal: var(--xp-txt-color);
    --interactive-hover: var(--xp-txt-color);
    --interactive-active: var(--xp-txt-color);
    --text-normal: var(--xp-txt-color);
    --header-secondary: var(--xp-txt-color);
    --background-primary: #{$color-taskbar-3};

    .header__55964 {
        background: var(--xp-bg-tint-color);
        border-radius: 0;

        .searchBar__8f956 {
            @include bt.inset;
        }

        .diversitySelectorButton_a4f274,
        .diversitySelectorOptions__846c5 {
            @include bt.button;
            padding: 3px;
        }
    }

    .emojiPicker_b65ce9 {
        background: var(--xp-bg-color);
        border-radius: 0;

        // Emoji grid
        .bodyWrapper_cc3635 {
            box-shadow: (inset 0 0 2px 2px grey);

            // Section title
            .wrapper__7a35f {
                background: linear-gradient(to bottom, transparent, var(--xp-bg-color), transparent);
            }

            // Hovered emoji
            .emojiItem_b15dee.emojiItemSelected__1a09a {
                @include bt.inset;
            }
        }

        // Emoji info
        .inspector__993e1 {
            background: var(--xp-bg-tint-color);
        }
    }

    .categoryList_f8c48f {
        background: var(--xp-bg-tint-color);
    }
}

// Reaction emoji picker
.animatorLeft_b2289c > #emoji-picker-tab-panel {
    @include box.windowHasPseudoTitle("Add a reaction");
}

// Gif / sticker / emoji picker
.contentWrapper__321ed {
    --interactive-normal: var(--xp-txt-color);
    --interactive-hover: var(--xp-txt-color);
    --interactive-active: var(--xp-txt-color);
    --text-normal: var(--xp-txt-color);
    --header-secondary: var(--xp-txt-color);
    --background-primary: #{$color-taskbar-3};
    --background-tertiary: transparent;
    background: var(--xp-bg-tint-color);
    border-radius: 0;
    overflow: visible;
    @include box.windowHasPseudoTitle("Chat addition");

    // Gif / sticker / emoji buttons
    .navButton__05cc7 {
        @include bt.button;

        &.navButtonActive__735cb {
            @include bt.inset;
        }
    }

    // Gif / sticker searchbar
    .container_e4c233,
    .container__7712a {
        @include bt.inset;
    }

    // Sticker picker
    #sticker-picker-tab-panel {
        // Sticker grid
        #sticker-picker-grid {
            background: var(--xp-bg-color);
            box-shadow: (inset 0 0 2px 2px var(--xp-bg-shade-color));

            // Section title
            .wrapper__7a35f {
                background: linear-gradient(to bottom, transparent, var(--xp-bg-color), transparent);
            }
        }

        // Discord default sticker button
        .standardStickerShortcut__5254d {
            background: var(--xp-bg-tint-color);
        }

        // Emoji info
        .inspector__993e1 {
            background: var(--xp-bg-tint-color);
        }
    }

    .categoryList_f8c48f {
        background: var(--xp-bg-tint-color);
    }

    // Gif picker
    #gif-picker-tab-panel {
        background: var(--xp-bg-tint-color);

        // Back button
        .backButton__6a1f0 {
            color: var(--xp-txt-color);
        }

        // Favs category
        .categoryFadeBlurple_e73c11 {
            background: var(--xp-zing-color);
        }

        // Item / category
        .result_e1fc74 {
            background-color: var(--xp-bg-color) !important;

            &::after {
                box-shadow: inset 0 0 0 2px var(--xp-bg-color);
                border-radius: 0;
            }
        }

        // Hovered
        .focused__036ed,
        .result_e1fc74:hover {
            box-shadow: 0 11px 22px 1px var(--xp-zing-color);
        }

        // Placeholder for loading gif
        .placeholder__1d2a8 {
            border-radius: 0;
            background: var(--xp-set-color);
        }
    }
}
