@use "../../top/vars" as *;
@use "../../top/boxes" as box;
@use "../../top/buttons" as bt;

// Emoji pickers
#emoji-picker-tab-panel {
    --interactive-normal: var(--xp-txt-color);
    --interactive-hover: var(--xp-txt-color);
    --interactive-active: var(--xp-txt-color);
    --text-normal: var(--xp-txt-color);
    --header-secondary: var(--xp-txt-color);
    --background-primary: #{$color-taskbar-3};

    .header_c6ee36 {
        background: var(--xp-bg-tint-color);
        border-radius: 0;

        .searchBar_c6ee36 {
            @include bt.inset;
        }

        .diversitySelectorButton_cce80d,
        .diversitySelectorOptions_cce80d {
            @include bt.button;
            padding: 3px;
        }
    }

    .emojiPicker_c6ee36 {
        background: var(--xp-bg-color);
        border-radius: 0;

        // Emoji grid
        .bodyWrapper_c6ee36 {
            box-shadow: (inset 0 0 2px 2px grey);

            // Section title
            .wrapper_e06857 {
                background: linear-gradient(to bottom, transparent, var(--xp-bg-color), transparent);
            }

            // Hovered emoji
            .emojiItem_fbfedd.emojiItemSelected_fbfedd {
                @include bt.inset;
            }
        }

        // Emoji info
        .inspector_c3120f {
            background: var(--xp-bg-tint-color);
        }
    }

    .categoryList_c6ee36 {
        background: var(--xp-bg-tint-color);
    }
}

// Reaction emoji picker
.animatorLeft_f88ae3 > #emoji-picker-tab-panel {
    @include box.windowHasPseudoTitle("Add a reaction");
}

// Gif / sticker / emoji picker
.contentWrapper_af5dbb {
    --interactive-normal: var(--xp-txt-color);
    --interactive-hover: var(--xp-txt-color);
    --interactive-active: var(--xp-txt-color);
    --text-normal: var(--xp-txt-color);
    --header-secondary: var(--xp-txt-color);
    --background-primary: #{$color-taskbar-3};
    --background-tertiary: transparent;
    background: var(--xp-bg-tint-color);
    border-radius: 0;
    overflow: visible;
    @include box.windowHasPseudoTitle("Chat addition");

    // Gif / sticker / emoji buttons
    .navButton_af5dbb {
        @include bt.button;

        &.navButtonActive_af5dbb {
            @include bt.inset;
        }
    }

    // Gif / sticker searchbar
    .container_effbe2,
    .container__33507 {
        @include bt.inset;
    }

    // Sticker picker
    #sticker-picker-tab-panel {
        // Sticker grid
        #sticker-picker-grid {
            background: var(--xp-bg-color);
            box-shadow: (inset 0 0 2px 2px var(--xp-bg-shade-color));

            // Section title
            .wrapper_e06857 {
                background: linear-gradient(to bottom, transparent, var(--xp-bg-color), transparent);
            }
        }

        // Discord default sticker button
        .standardStickerShortcut_a7a485 {
            background: var(--xp-bg-tint-color);
        }

        // Emoji info
        .inspector_c3120f {
            background: var(--xp-bg-tint-color);
        }
    }

    .categoryList_c6ee36 {
        background: var(--xp-bg-tint-color);
    }

    // Gif picker
    #gif-picker-tab-panel {
        background: var(--xp-bg-tint-color);

        // Back button
        .backButton_b56bbc {
            color: var(--xp-txt-color);
        }

        // Favs category
        .categoryFadeBlurple_af1167 {
            background: var(--xp-zing-color);
        }

        // Item / category
        .result_bad108 {
            background-color: var(--xp-bg-color) !important;

            &::after {
                box-shadow: inset 0 0 0 2px var(--xp-bg-color);
                border-radius: 0;
            }
        }

        // Hovered
        .focused_bad108,
        .result_bad108:hover {
            box-shadow: 0 11px 22px 1px var(--xp-zing-color);
        }

        // Placeholder for loading gif
        .placeholder_bad108 {
            border-radius: 0;
            background: var(--xp-set-color);
        }
    }
}
