@use "../../top/vars" as *;
@use "../../top/boxes" as box;
@use "../../top/buttons" as bt;

// Select role preview
.container_cbadbc {
    @include box.beigeBox;

    // Search role
    .container__33507 {
        @include bt.inset;
    }

    // Role
    .item_eef3ef {
        border-radius: 0;

        &.selected_eef3ef {
            background: $color-selected;
        }

        .itemLabel_eef3ef span {
            background: var(--xp-bg-tint-color);
        }

        // Checkbox
        .box_f6cde8 {
            border-radius: 0;

            &.checked_f6cde8 {
                background: $color-shortcut-2 !important;

                path {
                    fill: $color-start-2 !important;
                }
            }
        }
    }
}
