@use "../../top/vars" as *;
@use "../../top/boxes" as box;
@use "../../top/buttons" as bt;

// Select role preview
.container__9bb08 {
    @include box.beigeBox;

    // Search role
    .container__7712a {
        @include bt.inset;
    }

    // Role
    .item__287de {
        border-radius: 0;

        &.selected__511cf {
            background: $color-selected;
        }

        .itemLabel__6d2fe span {
            background: var(--xp-bg-tint-color);
        }

        // Checkbox
        .box__66058 {
            border-radius: 0;

            &.checked__24ad6 {
                background: $color-shortcut-2 !important;

                path {
                    fill: $color-start-2 !important;
                }
            }
        }
    }
}
