@use "../../top/vars" as *;
@use "../../top/boxes" as box;
@use "../../top/buttons" as bt;

// Select role preview
.container__3d776 {
    @include box.beigeBox;

    // Search role
    .container__33507 {
        @include bt.inset;
    }

    // Role
    .item__287de {
        border-radius: 0;

        &.selected__32a6a {
            background: $color-selected;
        }

        .itemLabel_d89e4d span {
            background: var(--xp-bg-tint-color);
        }

        // Checkbox
        .box__66058 {
            border-radius: 0;

            &.checked__16f88 {
                background: $color-shortcut-2 !important;

                path {
                    fill: $color-start-2 !important;
                }
            }
        }
    }
}
