@use "../../top/vars" as *;
@use "../../top/boxes" as box;
@use "../../top/buttons" as bt;

// Search options
.container-2McqkF {
    --header-secondary: var(--xp-txt-color);
    --text-muted: var(--xp-txt-color);
    --interactive-normal: var(--xp-txt-color);
    --search-popout-option-non-text-color: var(--xp-txt-color);
    --search-popout-option-user-nickname: var(--xp-txt-color);
    --search-popout-option-user-username: var(--xp-txt-color);
    --search-popout-date-picker-hint-text: var(--xp-txt-color);
    --background-floating: var(--xp-bg-tint-color);
    --background-modifier-hover: #{$color-selected};
    --search-popout-option-fade: linear-gradient(to right, transparent, var(--xp-bg-tint-color) ;);
    --search-popout-option-fade-hover: linear-gradient(to right, transparent, $color-selected 60%);
    border-radius: 0;
    border: 1px solid var(--xp-border-color);

    .option-ayUoaq {
        border-radius: 0;
    }

    .react-datepicker {
        background: var(--xp-bg-tint-color);

        .react-datepicker__navigation {
            @include bt.button;
            background-size: 30%;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='25'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M17.338 12.485c-4.156 4.156-8.312 8.312-12.468 12.467-1.402-1.402-2.805-2.804-4.207-4.206 2.756-2.757 5.513-5.514 8.27-8.27C6.176 9.72 3.419 6.963.663 4.207L4.87 0c-.058-.059 12.555 12.562 12.468 12.485z' clip-rule='evenodd'/%3E%3C/svg%3E");
        }

        .react-datepicker__header {
            background: transparent;

            .react-datepicker__current-month,
            .react-datepicker__day-name {
                color: var(--xp-txt-color);
            }
        }

        .react-datepicker__month {
            border: 1px solid var(--xp-border-color);
            border-radius: 3px;

            .react-datepicker__day:not(.react-datepicker__day--disabled) {
                @include bt.button;
                border-radius: 0;
                border: 0;

                &.react-datepicker__day--outside-month {
                    background: var(--xp-bg-tint-color);
                }
            }

            .react-datepicker__day--disabled {
                background: var(--xp-bg-tint-color);
                color: grey;
            }
        }
    }

    .hintValue-V9hd8l {
        @include bt.button;

        &:hover {
            background: inherit;
        }
    }
}
