@use "../../top/vars" as *;
@use "../../top/boxes" as box;
@use "../../top/buttons" as bt;

// Soundboard
.picker_cd703d {
    --interactive-normal: var(--xp-txt-color);
    --interactive-hover: var(--xp-txt-color);
    --interactive-active: var(--xp-txt-color);
    --text-normal: var(--xp-txt-color);
    --header-secondary: var(--xp-txt-color);
    --background-primary: #{$color-taskbar-3};
    --background-tertiary: transparent;
    background: var(--xp-bg-tint-color);
    @include box.windowHasPseudoTitle("Soundboard", $OFFSET: 0);
    border-radius: 0;

    .header_d0dc1d {
        .container_effbe2 {
            @include bt.inset;
        }

        .settingsClickArea_ca5acd {
            @include bt.button;
            box-sizing: border-box;
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    // Categories
    .categoryList_ceda83 {
        left: 2px;
    }

    // Sound panel
    .listWrapper_d0dc1d {
        background: var(--xp-bg-color);
        box-shadow: (inset 0 0 2px 2px grey);

        .soundButton_f40049 {
            @include bt.button;
        }

        .buttonOverlayBackground_f40049 {
            background: var(--xp-bg-tint-color);
        }
    }
}

// Soundboard volume
#user-context {
    z-index: 1;
    position: relative;
}
