@use "../../top/vars" as *;
@use "../../top/boxes" as box;
@use "../../top/buttons" as bt;

// Soundboard
.picker__6dca7 {
    --interactive-normal: var(--xp-txt-color);
    --interactive-hover: var(--xp-txt-color);
    --interactive-active: var(--xp-txt-color);
    --text-normal: var(--xp-txt-color);
    --header-secondary: var(--xp-txt-color);
    --background-primary: #{$color-taskbar-3};
    --background-tertiary: transparent;
    background: var(--xp-bg-tint-color);
    @include box.windowHasPseudoTitle("Soundboard", $OFFSET: 0);
    border-radius: 0;

    .header_bf5f46 {
        .container_e4c233 {
            @include bt.inset;
        }

        .settingsClickArea__307ff {
            @include bt.button;
            box-sizing: border-box;
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    // Categories
    .categoryList__173de {
        left: 2px;
    }

    // Sound panel
    .listWrapper__2275d {
        background: var(--xp-bg-color);
        box-shadow: (inset 0 0 2px 2px grey);

        .soundButton__5ad7b {
            @include bt.button;
        }

        .buttonOverlayBackground_ec646a {
            background: var(--xp-bg-tint-color);
        }
    }
}

// Soundboard volume
#user-context {
    z-index: 1;
    position: relative;
}
