@use "../../top/vars" as *;
@use "../../top/boxes" as box;
@use "../../top/buttons" as bt;

// User profile
// Popout or in profile settings
.userProfileOuter__46bb7 {
    border-radius: 0;

    &:not(.profileCustomizationPreview_ccc6a9) {
        @include box.windowHasPseudoTitle("User info", $OFFSET: 0);
    }

    &.profileCustomizationPreview_ccc6a9 {
        border: 2px solid $color-taskbar-3;
    }

    &.userProfileOuterThemed__6eb84 {
        padding: 0;
    }

    .banner_b7f1fb,
    .roundedBanner__9fa0a {
        border-radius: 0;
    }

    // Avatar
    .avatarWrapper_f77579 {
        &:not(.avatarPositionPremiumBanner__1e83d) {
            left: 24px;
        }

        &.avatarPositionPremiumBanner__1e83d {
            left: 20px;
            top: 72px;
        }
    }

    // All profiles
    .userProfileInner__8065b {
        // Tint (only visible with nitro)
        &::before {
            border-radius: 0;
            height: calc(100% - 2px);
            width: calc(100% - 4px);
        }

        // Edit profile button
        .pencilContainer_d4ce8d {
            @include bt.button;

            .pencilIcon__21c0c {
                color: var(--xp-txt-color);
            }
        }

        // Hypesquad etc badges
        .profileBadges__7a7cb {
            @include bt.button;
        }

        // Inner box
        .overlayBackground__86b78 {
            border-radius: 0;
            --font-primary: Tahoma, sans-serif;
            --font-display: Tahoma, sans-serif;
            @include box.indentBox;

            // Roles
            .rolePill_ee1aa1 {
                @include bt.button;
            }

            // User note
            .note_ba0c31 {
                @include box.indentBox;
            }

            // Message user
            .messageInputContainer__768e6 {
                @include box.indentBox;
            }
        }
    }

    // Unstyled profile
    .userProfileInnerThemedNonPremium__3d0a6 {
        background: var(--xp-bg-tint-color);
        --interactive-active: var(--xp-txt-color);
        --header-primary: var(--xp-txt-color);
        --header-secondary: var(--xp-set-color);
        --text-normal: var(--xp-txt-color);
        --background-secondary: var(--xp-bg-tint-color);
        --interactive-muted: var(--xp-bg-tint-color);

        // Inner box
        .overlayBackground__86b78 {
            background: var(--xp-bg-color);
        }
    }

    .rolePill_ee1aa1 .defaultColor__77578 {
        color: var(--xp-txt-color);
    }
}
