@use "../top/vars" as *;
@use "../top/color-generic" as *;

// Avatar sphere effect
.wrapper-1VLyxH::before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background: radial-gradient(
        circle at 25% 25%,
        $white-overlay,
        transparentize($white-overlay, 0.4) 20%,
        transparentize($white-overlay, 0.6) 40%,
        transparent
    );
    border-radius: 50%;
    z-index: 1;
}
