@use "../top/vars-scss" as *;

// Override HSL options

// Channels sidebar
#app-mount .sidebar-1tnWFu {
    border-radius: 8px 8px 0 0;
}

// Taskbar
// leave gap in server bar for control panel
#app-mount .guilds-2JjMmN {
    height: calc(100vw - $panel-width) !important;

    .scrollerBase-1Pkza4 {
        padding-top: 0 !important;
    }
}
body #app-mount .guilds-2JjMmN {
    left: calc(100vw - $panel-width);
}

// Titlebar
html.platform-osx #app-mount {

    .base-2jDfDU {
        top: 0 !important;
    }
    
    .typeMacOS-3V4xXE {
        width: auto;
    }
}
