@use "../_vars.scss" as *;

@mixin boxShadow($isInset: false) {
    @if $isInset {
        box-shadow: (inset 1px 1px 2px 0 var(--xp-bg-shade-color), inset -2px -2px 2px 0 var(--xp-bg-bright-color));
    } @else {
        box-shadow: (inset -1px -1px 2px 0 var(--xp-bg-shade-color), inset 2px 2px 2px 0 var(--xp-bg-bright-color));
    }
}

@mixin bgButton($isBeige: false, $isInset: false) {
    border-radius: 3px;
    @if $isBeige {
        --xp-bg-bright-color: #{$beige-light};
        --xp-bg-tint-color: #{$beige};
        --xp-bg-shade-color: grey;
        --xp-txt-color: black;
        --xp-border-color: black;
    }
    border: 1px solid var(--xp-border-color);
    background: var(--xp-bg-tint-color);
    color: var(--xp-txt-color);
    @include boxShadow($isInset);
}

@mixin winButton($size, $isRed) {
    top: 0;
    min-height: $size;
    min-width: $size;
    height: $size;
    width: $size;
    margin: 4px;
    margin-left: 0;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    @if $isRed {
        background: radial-gradient(circle at 20% 20%, $white-overlay, $red-bright, $red-max);
    } @else {
        background: radial-gradient(circle at 20% 20%, $white-overlay, $blue-vivid, $blue-max);
    }
}
