@use "../_vars.scss" as *;

@mixin beigeButton() {
    border-radius: 3px;
    border: 1px solid black;
    background: $beige-light;
    color: black;
    box-shadow: (
        inset -1px -1px 2px 0 grey,
        inset 2px 2px 2px 0 white
    );
}

@mixin beigeButtonInset() {
    @include beigeButton();
    box-shadow: (
        inset 1px 1px 2px 0 grey,
        inset -2px -2px 2px 0 white
    );
}

@mixin winButton($size, $isRed) {
    top: 0;
    min-height: $size;
    min-width: $size;
    height: $size;
    width: $size;
    margin: 4px;
    margin-left: 0;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    background: radial-gradient(circle at 20% 20%, $white-overlay, $blue-vivid, $blue-max);
    @if ($isRed) {
        background: radial-gradient(circle at 20% 20%, $white-overlay, $red-bright, $red-max);
    }
}