@use "../../../top/vars" as *;

// Top bar button popout windows, eg. inbox
.messagesPopoutWrap_ac90a2 {
    border-radius: 8px 8px 0 0;
    max-height: calc(100vh - $window-top - 120px) !important;

    // No "protips" please
    .footer_ac90a2 {
        display: none;
    }
}
