@use "../../../top/vars" as *;
@use "../../../top/color-generic" as *;
@use "../../../top/boxes" as box;
@use "../../../top/buttons" as bt;

// Inbox
.recentMentionsPopout__40c54 {
    // Top bar
    .header__58a85 {
        @include box.windowTitle;
        --interactive-normal: var(--xp-txt-color);
        --interactive-active: var(--xp-txt-color);

        // Mentions / unreads tabs
        .topPill__63ad4 {
            position: absolute;
            bottom: -1px;
            z-index: 1;
            align-items: base;

            .tab_a8a066 {
                background: var(--xp-bg-tint-color);
                border-radius: 3px 3px 0 0;
                border: solid $color-taskbar-3;
                border-width: 1px 1px 0 1px;
                margin: 0;

                // Selected tab
                &.selected_a523ff {
                    padding-top: 1px;
                    height: 25px;
                    background: linear-gradient(to bottom, orange, $white 10%, $color-tooltip-2 80%);
                }

                // Hovered tab
                &:hover {
                    color: var(--xp-txt-color);
                }
            }
        }
    }

    // Mark all as read button
    &.container_eb737e {
        .header__58a85 .button__292b6 {
            @include bt.winButton(26px, false);
        }
    }

    // Filter mentions button
    &.messagesPopoutWrap__10dd1 {
        .header__58a85 .button__292b6 {
            @include bt.winButton(26px, false);
        }
    }

    // Content
    .messagesPopout__28784,
    .scroller_e3927b {
        @include box.startMenuList;
        --header-primary: var(--xp-txt-color);
        --header-secondary: grey;
        background: var(--xp-bg-tint-color);

        // Channel unread group
        .channel__36a7e,
        .container__7c2c1 {
            // Channel group header
            .channelHeader_ea0f89 {
                background: var(--xp-bg-tint-color);

                // Buttons
                .button__292b6 {
                    @include bt.button;
                }
            }

            // Message group
            .messages__1aaa1,
            .messageContainer_cb3d47 {
                @include box.indentBox;
            }
        }
    }
}
