@use "../../../top/vars" as *;
@use "../../../top/color-generic" as *;
@use "../../../top/boxes" as box;
@use "../../../top/buttons" as bt;

// Inbox
.recentMentionsPopout_ddb5b4 {
    // Top bar
    .header_f0cd33 {
        @include box.windowTitle;
        --interactive-normal: var(--xp-txt-color);
        --interactive-active: var(--xp-txt-color);

        // Mentions / unreads tabs
        .topPill_a0 {
            position: absolute;
            bottom: -1px;
            z-index: 1;
            align-items: base;

            .tab_f0cd33 {
                background: var(--xp-bg-tint-color);
                border-radius: 3px 3px 0 0;
                border: solid $color-taskbar-3;
                border-width: 1px 1px 0 1px;
                margin: 0;

                // Selected tab
                &.selected_a0 {
                    padding-top: 1px;
                    height: 25px;
                    background: linear-gradient(to bottom, orange, $white 10%, $color-tooltip-2 80%);
                }

                // Hovered tab
                &:hover {
                    color: var(--xp-txt-color);
                }
            }
        }
    }

    // Mark all as read button
    &.container_f1c3d9 {
        .header_f0cd33 .button__292b6 {
            @include bt.winButton(26px, false);
        }
    }

    // Filter mentions button
    &.messagesPopoutWrap_ac90a2 {
        .header_f0cd33 .button__292b6 {
            @include bt.winButton(26px, false);
        }
    }

    // Content
    .messagesPopout_ac90a2,
    .scroller_f1c3d9 {
        @include box.startMenuList;
        --header-primary: var(--xp-txt-color);
        --header-secondary: grey;
        background: var(--xp-bg-tint-color);

        // Channel unread group
        .channel_d09ffd,
        .container_ddb5b4 {
            // Channel group header
            .channelHeader_f3978e {
                background: var(--xp-bg-tint-color);

                // Buttons
                .button__292b6 {
                    @include bt.button;
                }
            }

            // Message group
            .messages_c06487,
            .messageContainer_ddb5b4 {
                @include box.indentBox;
            }
        }
    }
}
