@use "../../../top/vars" as *;
@use "../../../top/color-generic" as *;
@use "../../../top/boxes" as box;
@use "../../../top/buttons" as bt;

// Inbox
.recentMentionsPopout__826a9 {
    // Top bar
    .header__28ebb {
        @include box.windowTitle;
        --interactive-normal: var(--xp-txt-color);
        --interactive-active: var(--xp-txt-color);

        // Mentions / unreads tabs
        .topPill__0cdf1 {
            position: absolute;
            bottom: -1px;
            z-index: 1;
            align-items: base;

            .tab_a8a066 {
                background: var(--xp-bg-tint-color);
                border-radius: 3px 3px 0 0;
                border: solid $color-taskbar-3;
                border-width: 1px 1px 0 1px;
                margin: 0;

                // Selected tab
                &.selected__5711d {
                    padding-top: 1px;
                    height: 25px;
                    background: linear-gradient(to bottom, orange, $white 10%, $color-tooltip-2 80%);
                }

                // Hovered tab
                &:hover {
                    color: var(--xp-txt-color);
                }
            }
        }
    }

    // Mark all as read button
    &.container__20de0 {
        .header__28ebb .button_ddf91e {
            @include bt.winButton(26px, false);
        }
    }

    // Filter mentions button
    &.messagesPopoutWrap_b3b384 {
        .header__28ebb .button_ddf91e {
            @include bt.winButton(26px, false);
        }
    }

    // Content
    .messagesPopout__22763,
    .scroller__1c703 {
        @include box.startMenuList;
        --header-primary: var(--xp-txt-color);
        --header-secondary: grey;
        background: var(--xp-bg-tint-color);

        // Channel unread group
        .channel_d48f2d,
        .container__56e52 {
            // Channel group header
            .channelHeader__5d30c {
                background: var(--xp-bg-tint-color);

                // Buttons
                .button_ddf91e {
                    @include bt.button;
                }
            }

            // Message group
            .messages_f7999e,
            .messageContainer_aa7d14 {
                @include box.indentBox;
            }
        }
    }
}
