@use "../../../top/vars" as *;
@use "../../../top/boxes" as box;

// Pinned messages
.messagesPopoutWrap__10dd1 {
    .header__21b33 {
        @include box.windowTitle;
    }

    .messagesPopout__28784 {
        @include box.startMenuList;
        background: var(--xp-bg-tint-color);

        .messageGroupWrapper__1fce2 {
            @include box.indentBox;
            border: 0;
        }

        .body_a02b78 {
            color: var(--xp-txt-color);
        }
    }
}
