@use "../../../top/vars" as *;
@use "../../../top/boxes" as box;

// Pinned messages
.messagesPopoutWrap_ac90a2 {
    .header_ac90a2 {
        @include box.windowTitle;
    }

    .messagesPopout_ac90a2 {
        @include box.startMenuList;
        background: var(--xp-bg-tint-color);

        .messageGroupWrapper_ac90a2 {
            @include box.indentBox;
            border: 0;
        }

        .body_ac90a2 {
            color: var(--xp-txt-color);
        }
    }
}
