@use "../../../top/vars" as *;
@use "../../../top/color-generic" as *;
@use "../../../top/boxes" as box;
@use "../../../top/buttons" as bt;

// Threads
.browser_fa9cea {
    border-radius: 8px 8px 0 0;

    // Top bar
    .header__6d44a {
        @include box.windowTitle;

        // #
        .threadIcon_a292d5 {
            color: $white;
        }

        // Search bar
        .searchBox__9423b {
            @include bt.button($ISBEIGE: true, $ISINSET: true);

            .input__48d49 {
                color: $black;
            }
        }

        // Close button
        .closeIcon_ab1a00 {
            @include bt.winButton(26px, true);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        // Create thread button
        .createButton_f595af {
            @include bt.button($ISBEIGE: true);
        }
    }

    // Content
    .list__19127 {
        @include box.startMenuList;
        background: var(--xp-bg-tint-color);

        // Thread age
        .sectionHeader__0f7c3 {
            color: var(--xp-txt-color) !important;
        }

        // Thread
        .container__9922f {
            @include box.indentBox;
            border: 0;
        }

        // No threads
        .container__8f86b {
            .defaultColor__8610e,
            .text-md-normal__6e567 {
                color: var(--xp-txt-color) !important;
            }

            .button__581d0 {
                @include bt.button;
            }
        }
    }
}
