@use "../../../top/vars" as *;
@use "../../../top/color-generic" as *;
@use "../../../top/boxes" as box;
@use "../../../top/buttons" as bt;

// Threads
.browser_f542fc {
    border-radius: 8px 8px 0 0;

    // Top bar
    .header_e664f3 {
        @include box.windowTitle;

        // #
        .threadIcon_e664f3 {
            color: $white;
        }

        // Search bar
        .searchBox_e664f3 {
            @include bt.button($ISBEIGE: true, $ISINSET: true);

            .input__48d49 {
                color: $black;
            }
        }

        // Close button
        .closeIcon_e664f3 {
            @include bt.winButton(26px, true);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        // Create thread button
        .createButton_e664f3 {
            @include bt.button($ISBEIGE: true);
        }
    }

    // Content
    .list_c6aa12 {
        @include box.startMenuList;
        background: var(--xp-bg-tint-color);

        // Thread age
        .sectionHeader_c6aa12 {
            color: var(--xp-txt-color) !important;
        }

        // Thread
        .container_acb8b3 {
            @include box.indentBox;
            border: 0;
        }

        // No threads
        .container_ebd74a {
            .defaultColor_e9e35f,
            .text-md-normal__6e567 {
                color: var(--xp-txt-color) !important;
            }

            .button_dd4f85 {
                @include bt.button;
            }
        }
    }
}
