@use "../../../top/vars" as *;
@use "../../../top/color-generic" as *;
@use "../../../top/boxes" as box;
@use "../../../top/buttons" as bt;

// Threads
.browser_fece63 {
    border-radius: 8px 8px 0 0;

    // Top bar
    .header__53b07 {
        @include box.windowTitle;

        // #
        .threadIcon__046f1 {
            color: $white;
        }

        // Search bar
        .searchBox_ff53b2 {
            @include bt.button($ISBEIGE: true, $ISINSET: true);

            .input__74754 {
                color: $black;
            }
        }

        // Close button
        .closeIcon__15ae7 {
            @include bt.winButton(26px, true);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        // Create thread button
        .createButton_c8864c {
            @include bt.button($ISBEIGE: true);
        }
    }

    // Content
    .list__19127 {
        @include box.startMenuList;
        background: var(--xp-bg-tint-color);

        // Thread age
        .sectionHeader_a94dc1 {
            color: var(--xp-txt-color) !important;
        }

        // Thread
        .container__6604b {
            @include box.indentBox;
            border: 0;
        }

        // No threads
        .container__50947 {
            .defaultColor-HXu-5n,
            .text-md-normal-304U3g {
                color: var(--xp-txt-color) !important;
            }

            .button_afdfd9 {
                @include bt.button;
            }
        }
    }
}
