@use "../../top/vars-scss" as *;
@use "../../top/buttons" as bt;

// Small menus
.menu-2TXYjN {
    --interactive-normal: var(--xp-txt-color);
    background: var(--xp-bg-tint-color);
    border: 1px solid var(--xp-border-color);
    border-radius: 0;

    // Menu item
    .colorDefault-2_rLdz {

        // Focused menu item
        &.focused-3LIdPu {
            background: $blue-select;
            border-radius: 0;
        }

        .icon-3XHs8t {

            // Radio button
            path[d^="M12 20C16.4183"] {
                d: path("M 12 22 A 1 1 0 0 0 12 2 A 1 1 0 0 0 12 22 Z M 12 21 A 1 1 0 0 0 12 3 A 1 1 0 0 0 12 21 Z");
            }

            // circle
            .radioSelection-3PDNAQ {
                color: $green-bright;
            }

            // Checkbox
            .checkbox-397WsK {
                d: path("M 2 2 V 22 H 22 V 2 Z M 3 3 V 21 H 21 V 3 Z");
                color: var(--xp-txt-color);
            }

            .check-3-73a4 {
                color: $green-bright;
            }
        }
    }

    // Slider bar
    .bar-2H7Q9u {
        @include bt.button($isBeige: true);
        border: none;

        .barFill-3RgCsY {
            background: transparent;
        }
    }

    // Handle
    .grabber-3R-Rx9 {
        @include bt.button($isBeige: true, $isInset: true);
        height: 16px;
        width: 10px;
        margin-top: -1px;
        border: solid $green-bright;
        border-width: 3px 0;
    }
}