@use "../../top/vars-scss" as *;
@use "../../top/boxes" as box;
@use "../../top/buttons" as bt;

// User profile
// Popout or in profile settings
.userProfileOuter-2tQwNf {
    border-radius: 0;

    &:not(.profileCustomizationPreview-3zZw6E) {
        @include box.windowHasPseudoTitle("User info", $offset: 0);
    }

    &.profileCustomizationPreview-3zZw6E {
        border: 2px solid $blue-select;
    }

    &.userProfileOuterThemed-2BgJCM {
        padding: 0;
    }

    .banner-3D8GgT,
    .roundedBanner-uNt2w- {
        border-radius: 0;
    }

    // Avatar
    .avatarWrapper-eenWra {
        &:not(.avatarPositionPremiumBanner-2EAbSH) {
            left: 24px;
        }

        &.avatarPositionPremiumBanner-2EAbSH {
            left: 20px;
            top: 72px;
        }
    }

    // All profiles
    .userProfileInner-1ngKnf {
        // Tint (only visible with nitro)
        &::before {
            border-radius: 0;
            height: calc(100% - 2px);
            width: calc(100% - 4px);
        }

        // Edit profile button
        .pencilContainer-18TrEJ {
            @include bt.bgButton;

            .pencilIcon-z04-c5 {
                color: var(--xp-txt-color);
            }
        }

        // Hypesquad etc badges
        .profileBadges-2pItdR {
            @include bt.bgButton;
        }

        // Inner box
        .overlayBackground-2aa7wt {
            border-radius: 0;
            --font-primary: Tahoma, sans-serif;
            --font-display: Tahoma, sans-serif;
            @include box.indentBox;

            // Roles
            .rolePill-78LFtg {
                @include bt.bgButton;
            }

            // User note
            .note-1NN2aP {
                @include box.indentBox;
            }

            // Message user
            .messageInputContainer-24qqTx {
                @include box.indentBox;
            }
        }
    }

    // Unstyled profile
    .userProfileInnerThemedNonPremium-2AJg-H {
        background: var(--xp-bg-tint-color);
        --interactive-active: var(--xp-txt-color);
        --header-primary: var(--xp-txt-color);
        --header-secondary: var(--xp-set-color);
        --text-normal: var(--xp-txt-color);
        --background-secondary: var(--xp-bg-tint-color);
        --interactive-muted: var(--xp-bg-tint-color);

        // Inner box
        .overlayBackground-2aa7wt {
            background: var(--xp-bg-color);
        }
    }

    .rolePill-78LFtg .defaultColor-1EVLSt {
        color: var(--xp-txt-color);
    }
}
