@use "../top/vars-scss" as *;
@use "../top/boxes" as box;
@use "../top/shortcutIcon" as ico;

.baseLayer-W6S8cY.stop-animations {
    opacity: 1 !important;
    transform: scale(1) !important;

    .container-1eFtFS {
        filter: grayscale(0.8) brightness(0.5);
        backdrop-filter: brightness(1);
    }
}

.layers-OrUESM > .layer-86YKbF.animating-1rIrGV {
    transform: none !important;
}

.layer-86YKbF {
    background: transparent;

    // Settings menu
    .standardSidebarView-E9Pc3j {
        @include box.mainWindow();

        // Settings sidebar as separate window on left side
        .sidebarRegion-1VBisG {
            @include box.startMenuList();
            position: fixed;
            left: 60px;
            top: 180px;
            height: 65vh;
            max-height: calc(100vh - 400px);
            @include box.windowHasPseudoTitle("Settings");

            .sidebarRegionScroller-FXiQOh {
                background: var(--xp-bg-color);

                .sidebar-nqHbhN {
                    padding: 8px;
                    padding-right: 0;

                    .separator-2N511j {
                        background: transparent;
                        position: relative;
                        @include box.startMenuDivider(-2px);
                    }

                    .item-2GWPIy {
                        border-radius: 0;

                        &.selected-1sf9UK:not(.disabled-2G98Nl) {
                            background: var(--background-modifier-selected);
                            color: white;
                        }
                    }
                }
            }
        }

        .contentRegionShownSidebar-fHXkEg {
            justify-content: center;

            // Close settings button
            .toolsContainer-25FL6V {
                padding-top: 10px;
                margin-right: 0;
                position: absolute;
                left: -80px;
                height: 50px;

                .container-O54IuJ {
                    @include ico.makeIcon(50px, auto, ".closeButton-PCZcma");
                    position: unset;

                    &::before {
                        content: "Close";
                    }

                    .keybind-13vtq8 {
                        display: none;
                    }
                }
            }
        }
    }

    .pictureInPictureWindow-3ms5Zy {
        @include box.windowHasPseudoTitle("Stream");
        overflow: visible;
        border-radius: 0;

        .pictureInPictureVideo-2puO2Q {
            border-radius: 0;
        }
    }
}
