@use "../top/vars" as *;
@use "../top/color-generic" as *;
@use "../top/boxes" as box;
@use "../top/shortcutIcon" as ico;

.baseLayer__2b890.stop-animations {
    opacity: 1 !important;
    transform: scale(1) !important;

    .container_d1f8f5 {
        filter: grayscale(0.8) brightness(0.5);
        backdrop-filter: brightness(1);
    }
}

.layers__1c917 > .layer_f7d46a .animating_b7d085 {
    transform: none !important;
}

.layer_f7d46a {
    background: transparent;

    // Settings menu
    .standardSidebarView__12528 {
        @include box.mainWindow;

        // Settings sidebar as separate window on left side
        .sidebarRegion__36437 {
            @include box.startMenuList;
            position: fixed;
            left: 60px;
            top: 180px;
            height: 65vh;
            max-height: calc(100vh - 400px);
            @include box.windowHasPseudoTitle("Settings");

            .sidebarRegionScroller__8113e {
                background: var(--xp-bg-color);

                .sidebar__02e8d {
                    padding: 8px;
                    padding-right: 0;

                    .separator_d14fb1 {
                        background: transparent;
                        position: relative;
                        @include box.startMenuDivider(-2px);
                    }

                    .item__48dda {
                        border-radius: 0;

                        &.selected_a523ff:not(.disabled__2717e) {
                            background: var(--background-modifier-selected);
                            color: $white;
                        }
                    }
                }
            }
        }

        // Settings contents
        :is(.contentRegionShownSidebar__9d1b9, .contentRegion__08eba) {
            justify-content: center;

            // Server setting roles sidebar
            .sidebar__37984 {
                left: 0;
            }

            // Server setting roles main content
            .customContainer__64260,
            .contentContainer__50662 {
                position: relative;
                left: 0;
            }

            // Close settings button
            .toolsContainer__4e6ad {
                padding-top: 10px;
                margin-right: 0;
                position: absolute;
                left: -80px;
                height: 50px;

                .container__3529f {
                    @include ico.makeIcon(50px, auto, ".closeButton__8177f");
                    position: unset;

                    &::before {
                        content: "Close";
                    }

                    .keybind_a619c1 {
                        display: none;
                    }
                }
            }
        }
    }

    .pictureInPictureWindow__9f0e6 {
        @include box.windowHasPseudoTitle("Stream");
        overflow: visible;
        border-radius: 0;

        .pictureInPictureVideo__31ff0 {
            border-radius: 0;
        }
    }
}
