@use "../top/vars" as *;
@use "../top/color-generic" as *;

// Modals
// BSOD
.backdrop__1a911 {
    background: var(--bsod-color, $bsod-color) !important;
    opacity: 1 !important;

    &::before {
        content: var(--bsod-text, $bsod-text);
        white-space: pre-wrap;
        display: block;
        font-family: "Courier New", Courier, monospace;
        font-size: 20px;
        color: $white;
        margin: 40px;
    }
}

// Modal item
.layer_c14d31 {
    align-items: flex-end;
    padding-right: 10vw;

    .focusLock__28507 {
        border: 2px solid $white;
        padding: 5px;
        background: var(--bsod-color, transparentize($bsod-color, 0.2));
    }
}
