@use "../top/vars-scss" as *;

// Modals
// BSOD
.backdrop-2ByYRN {
    background: var(--bsod-color, $bsod-color) !important;
    opacity: 1 !important;

    &::before {
        content: var(--bsod-text, $bsod-text);
        white-space: pre-wrap;
        display: block;
        font-family: "Courier New", Courier, monospace;
        font-size: 20px;
        color: white;
        margin: 40px;
    }
}

// Modal item
.layer-fP3xEz {
    align-items: flex-end;
    padding-right: 10vw;

    .focusLock-bHVOlV {
        border: 2px solid white;
        padding: 5px;
        background: var(--bsod-color, transparentize($bsod-color, 0.2));
    }
}