@use "../top/vars-scss" as *;
@use "../top/boxes" as box;

// Settings sidebar as separate window on left side
.sidebarRegion-1VBisG {
    @include box.startMenuList();
    position: fixed;
    left: 60px;
    top: 180px;
    height: 65vh;
    max-height: calc(100vh - 400px);
    @include box.windowHasPseudoTitle("Settings");

    &::before {
        left: -2px;
    }
}