@use "../top/vars-scss" as *;

// Tooltips
.tooltip-33Jwqe {
    --background-floating: #{$beige};
    --text-normal: black;
    --interactive-normal: black;
    border: 1px solid black;
    border-radius: 0;

    .guildNameText-jBFbNC {
        color: inherit;
    }

    .tooltipPointer-sMBQqe {
        --background-floating: black;
    }
}