// Tooltips
.tooltip-33Jwqe {
    background: $beige;
    border: 1px solid black;
    color: black;
    border-radius: 0;

    .guildNameText-jBFbNC {
        color: inherit;
    }

    .tooltipPointer-sMBQqe {
        border-top-color: black;
    }
}