@use "../top/vars" as *;
@use "../top/color-generic" as *;

// Tooltips
.tooltip__7b090 {
    --background-floating: #{$color-tooltip-2};
    --text-normal: #{$black};
    --interactive-normal: #{$black};
    border: 1px solid $black;
    border-radius: 0;

    .guildNameText__2c549 {
        color: inherit;
    }

    .tooltipPointer_f7411c {
        --background-floating: #{$black};
    }
}
