@use "../top/vars" as *;
@use "../top/color-generic" as *;

// Tooltips
.tooltip__01384 {
    --background-floating: #{$color-tooltip-2};
    --text-normal: #{$black};
    --interactive-normal: #{$black};
    border: 1px solid $black;
    border-radius: 0;

    .guildNameText__16f3c {
        color: inherit;
    }

    .tooltipPointer_a79354 {
        --background-floating: #{$black};
    }
}
