@use "../top/vars" as *;
@use "../top/color-generic" as *;
@use "../top/boxes" as box;

// Channels sidebar
.sidebar_a4d4d9 {
    position: absolute;
    bottom: 0;
    max-height: 60vh;
    background: transparent;
    @include box.windowBox(15px);

    // Title and channels
    .container_ee69e0 {
        background: transparent;

        // Title
        .header_fd6364 {
            @include box.windowTitle();
            height: 48px;

            .headerContent_fd6364 {
                color: $white;

                .flowerStar_ff7d90 {
                    color: $white-overlay;
                }
            }
        }

        // Server image banner
        .animatedContainer_fd6364 {
            background: transparent;
            z-index: 2;
            border-radius: 8px 8px 0 0;

            .bannerImage_fd6364::before {
                display: none;
            }
        }

        // Server event
        .container_fa295b {
            background: $color-tooltip-2;
            --header-primary: #{$black};
            --header-secondary: #{$black};
            @include box.windowBox(15px);

            // Inner box
            .channelNotice_a6cd4e {
                border-bottom: none;

                // Event Details button
                .joinButton_a6cd4e {
                    border-radius: 0;
                }
            }
        }

        // Channels
        .scroller_c43953 {
            @include box.startMenuList;

            // Channel names
            :is(.modeSelected_d8bfb3, .notInteractive_d8bfb3.modeConnected_d8bfb3, .notInteractive_d8bfb3.modeSelected_d8bfb3) {
                .name_d8bfb3 {
                    color: $white;
                }
            }

            // Divider
            .sectionDivider_c43953 {
                background: transparent;
            }

            // Category
            .containerDefault_a08117:not(:nth-child(2)) {
                @include box.startMenuDivider(7px);
            }

            // Channel
            :is(.wrapper_d8bfb3, .container_b15955, .link_d8bfb3) {
                border-radius: 0;

                // Channel actions
                .actionIcon_f6f816 {
                    color: var(--xp-set-color);
                }

                // Voice channel member limit
                .channelInfo_f6f816 {
                    --background-primary: lightgrey;
                    --background-tertiary: grey;

                    .wrapper_a5bc92 {
                        border-radius: 3px;
                    }
                }
            }

            // User in voice channel
            .content_cdc675 {
                border-radius: 0;
            }

            // Selected channel
            .modeSelected_d8bfb3 {
                // Channel actions
                .actionIcon_f6f816 {
                    color: $white-overlay;
                }
            }

            // Muted channel
            .modeMuted_d8bfb3 {
                .name_d8bfb3,
                .icon_d8bfb3 {
                    color: grey;
                }
            }
        }
    }

    // DMs
    .privateChannels_f0963d {
        background: transparent;

        // Find conversation
        .searchBar_f0963d {
            @include box.windowTitle;

            .searchBarComponent_f0963d {
                background: transparent;
                font-size: 14px;
                line-height: $title-height;
                font-weight: 600;
                font-family: Tahoma, sans-serif;
                text-shadow: 0 1px 1px $black;
                color: $white;
            }
        }

        // DMs and friends
        .scroller_c47fa9 {
            @include box.startMenuList;
        }

        // DMs category
        .privateChannelsHeaderContainer_c47fa9 {
            position: relative;
            @include box.startMenuDivider(2px);
        }

        // Menu item
        .container_b15955 {
            border-radius: 0;
        }
    }

    // Explore servers category list
    & > .scrollerBase_eed6a8 {
        @include box.startMenuList;
        position: relative;
        border-radius: 8px 8px 0 0;

        &::before {
            display: none;
        }

        // Header
        .discoverHeader_b992d4 {
            @include box.windowTitle;
            margin: 0;
            padding: 12px 0;
            text-indent: 16px;
            font-size: 16px;
            position: fixed;
            width: 240px;
            z-index: 2;
        }

        // Category
        .container_e9f61e {
            color: var(--channels-default);
            border-radius: 0;

            &:first-of-type {
                margin-top: 62px;
            }

            &:nth-last-of-type(2) {
                margin-bottom: 10px;
            }

            .layout_e9f61e {
                border-radius: 0;
            }
        }

        .categoryItem_c72b37.selectedCategoryItem_c72b37 .itemInner_c72b37 {
            background-color: var(--background-modifier-selected);
        }
    }
}
