@use "../top/vars" as *;
@use "../top/color-generic" as *;
@use "../top/boxes" as box;

// Channels sidebar
.sidebar_e031be {
    position: absolute;
    bottom: 0;
    max-height: 60vh;
    background: transparent;
    @include box.windowBox(15px);

    // Title and channels
    .container__7e23c {
        background: transparent;

        // Title
        .header__77c95 {
            @include box.windowTitle();
            height: 48px;

            .headerContent__6fcc7 {
                color: $white;

                .flowerStar_fa5ad8 {
                    color: $white-overlay;
                }
            }
        }

        // Server image banner
        .animatedContainer__0e828 {
            background: transparent;
            z-index: 2;
            border-radius: 8px 8px 0 0;

            .bannerImage_c73a57::before {
                display: none;
            }
        }

        // Server event
        .container__8567b {
            background: $color-tooltip-2;
            --header-primary: #{$black};
            --header-secondary: #{$black};
            @include box.windowBox(15px);

            // Inner box
            .channelNotice__36ec1 {
                border-bottom: none;

                // Event Details button
                .joinButton_a6e0b7 {
                    border-radius: 0;
                }
            }
        }

        // Channels
        .scroller__1f498 {
            @include box.startMenuList;

            // Channel names
            :is(.modeSelected__473f1, .notInteractive_e31551.modeConnected__52a8f, .notInteractive_e31551.modeSelected__473f1) {
                .name__4eb92 {
                    color: $white;
                }
            }

            // Divider
            .sectionDivider__9dbcb {
                background: transparent;
            }

            // Category
            .containerDefault_e3b32b:not(:nth-child(2)) {
                @include box.startMenuDivider(7px);
            }

            // Channel
            :is(.wrapper__612a5, .container__3792d, .link_ddbb36) {
                border-radius: 0;

                // Channel actions
                .actionIcon_b149a2 {
                    color: var(--xp-set-color);
                }

                // Voice channel member limit
                .channelInfo_b0882c {
                    --background-primary: lightgrey;
                    --background-tertiary: grey;

                    .wrapper__71278 {
                        border-radius: 3px;
                    }
                }
            }

            // User in voice channel
            .content__3b07e {
                border-radius: 0;
            }

            // Selected channel
            .modeSelected__473f1 {
                // Channel actions
                .actionIcon_b149a2 {
                    color: $white-overlay;
                }
            }

            // Muted channel
            .modeMuted_f0a72e {
                .name__4eb92,
                .icon__67ab4 {
                    color: grey;
                }
            }
        }
    }

    // DMs
    .privateChannels__9b518 {
        background: transparent;

        // Find conversation
        .searchBar__621ec {
            @include box.windowTitle;

            .searchBarComponent__8f95f {
                background: transparent;
                font-size: 14px;
                line-height: $title-height;
                font-weight: 600;
                font-family: Tahoma, sans-serif;
                text-shadow: 0 1px 1px $black;
                color: $white;
            }
        }

        // DMs and friends
        .scroller__89969 {
            @include box.startMenuList;
        }

        // DMs category
        .privateChannelsHeaderContainer_b22dc9 {
            position: relative;
            @include box.startMenuDivider(2px);
        }

        // Menu item
        .container__3792d {
            border-radius: 0;
        }
    }

    // Explore servers category list
    & > .scrollerBase_f742b2 {
        @include box.startMenuList;
        position: relative;
        border-radius: 8px 8px 0 0;

        &::before {
            display: none;
        }

        // Header
        .discoverHeader__9d76e {
            @include box.windowTitle;
            margin: 0;
            padding: 12px 0;
            text-indent: 16px;
            font-size: 16px;
            position: fixed;
            width: 240px;
            z-index: 2;
        }

        // Category
        .container_a48b21 {
            color: var(--channels-default);
            border-radius: 0;

            &:first-of-type {
                margin-top: 62px;
            }

            &:nth-last-of-type(2) {
                margin-bottom: 10px;
            }

            .layout_bb8e67 {
                border-radius: 0;
            }
        }

        .categoryItem__0608f.selectedCategoryItem__3e361 .itemInner_eedb2b {
            background-color: var(--background-modifier-selected);
        }
    }
}
