@forward "./channels";
@forward "./taskbar";
@forward "./threads";
@forward "./titlebar";

@use "../top/vars" as *;
@use "../top/boxes" as box;
@use "../top/shortcutIcon" as ico;

// Overall background
.bg__12180 {
    background: var(--xp-background-color, $xp-background-color) var(--xp-background-image, $xp-background-image) center/cover;
}

// Transparency
:is(.appMount_fae9dd, body, .app_de4237) {
    background: transparent;
}

// Main view
.container__037ed {
    // Channels sidebar and main chat
    .base__3e6af {
        // Notice banner
        .notice__5fd4c {
            top: $window-top;
            margin: 0 $window-right 0 $window-left;
            width: auto;
            border-radius: 0;
            border: solid $color-taskbar-3;
            border-width: 0 2px 0 2px;
            box-shadow: none;
        }

        // Call banner (in DMs)
        .wrapper_bd2abe {
            z-index: 0;
        }

        .content__1a4fe::before {
            z-index: 0;
        }

        // Top bar (not in DMs)
        .chat__52833 > .title_b7d661 {
            .toolbar__88c63 {
                // Move help icon
                .anchor_c8ddc0 .iconWrapper_af9215:only-of-type {
                    @include ico.makeIcon(50px, auto, ".icon__4cb88");
                    top: $window-top + 90px;
                }

                // Move show/hide member list button
                .iconWrapper_af9215:has([d^="M14 8.00598"]) {
                    @include ico.makeIcon(auto, 50px, ".icon__4cb88");
                }
            }
        }

        // Main DM and friend list view
        .container__5c7e7,
        // Explore servers view
        .pageWrapper_fef757,
        // University hub
        .scroller_e9501c,
        // Buy nitro page
        .applicationStore_fc7d76,
        // Main chat
        .chat__52833:not(.container__10dc7 > .chat__52833) {
            @include box.mainWindow;
        }

        // University hub
        .scroller_e9501c {
            height: auto;
        }

        // Main chat and top bar
        .chat__52833:not(.container__10dc7 > .chat__52833) {
            // Main chat
            .chatContent__5dca8 {
                // Message box
                .form__13a2c {
                    // Gift nitro button
                    .buttons_ce5b56 > .button_afdfd9 {
                        @include ico.makeIcon(50px, auto, ".buttonWrapper__69593");
                        top: $window-top;

                        .button__55e53 {
                            margin: 0;

                            .buttonWrapper__69593 {
                                padding: 0;
                                margin: 0;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }

                    // Autocompleter
                    .autocomplete_df266d {
                        width: calc(100% - 150px);
                    }
                }
            }

            // Forums
            .headerRow__16d8e,
            .list__5ced9 > div:first-child {
                min-width: 0;
            }

            // Members list
            .container_b2ce9c {
                @include box.startMenuList;

                position: fixed;
                right: 30px;
                top: 180px;
                height: 65vh;
                max-height: calc(100vh - 400px);
                @include box.windowHasPseudoTitle("Members");

                .members__9f47b {
                    background: var(--xp-bg-color);

                    // Member group
                    .membersGroup__85843:not(:nth-child(2)) {
                        position: relative;
                        @include box.startMenuDivider(7px);
                    }

                    // Member
                    .member_b44d5d,
                    .member_aa4760 {
                        background: var(--xp-bg-color);

                        .container__4f20e,
                        .layout_bb8e67 {
                            border-radius: 0;
                        }
                    }
                }
            }

            // VC video
            .video__85ac2 {
                z-index: 0;
            }
        }

        // With members list visible
        &:has(.membersWrap__90226) {
            // VC video controls
            .bottomControls__8bd89 {
                width: auto;
                padding-right: 150px;
            }

            // Message
            .message__80c10 {
                padding-right: 140px !important;

                // Message actions
                .container__9d616 {
                    right: 130px;
                }
            }
        }
    }
}
