@forward "./channels";
@forward "./taskbar";
@forward "./threads";
@forward "./titlebar";

@use "../top/vars" as *;
@use "../top/boxes" as box;
@use "../top/shortcutIcon" as ico;

// Overall background
.bg__12180 {
    background: var(--xp-background-color, $xp-background-color) var(--xp-background-image, $xp-background-image) center/cover;
}

// Transparency
:is(.appMount_c99875, body, .app_de4237) {
    background: transparent;
}

// Main view
.container_d1f8f5 {
    // Channels sidebar and main chat
    .base_c0676e {
        // Notice banner
        .notice__5fd4c {
            top: $window-top;
            margin: 0 $window-right 0 $window-left;
            width: auto;
            border-radius: 0;
            border: solid $color-taskbar-3;
            border-width: 0 2px 0 2px;
            box-shadow: none;
        }

        // Call banner (in DMs)
        .wrapper__6bf2d {
            z-index: 0;
        }

        .content__01e65::before {
            z-index: 0;
        }

        // Top bar (not in DMs)
        .chat__52833 > .title_d4ba1a {
            .toolbar__62fb5 {
                // Move help icon
                .anchor_c8ddc0 .iconWrapper_de6cd1:only-of-type {
                    @include ico.makeIcon(50px, auto, ".icon_ae0b42");
                    top: $window-top + 90px;
                }

                // Move show/hide member list button
                .iconWrapper_de6cd1:has([d^="M14 8.00598"]) {
                    @include ico.makeIcon(auto, 50px, ".icon_ae0b42");
                }
            }
        }

        // Main DM and friend list view
        .container_bd15da,
        // Explore servers view
        .pageWrapper_c182d3,
        // University hub
        .scroller__32e73,
        // Buy nitro page
        .applicationStore__444b9,
        // Main chat
        .chat__52833:not(.container__03ec9 > .chat__52833) {
            @include box.mainWindow;
        }

        // University hub
        .scroller__32e73 {
            height: auto;
        }

        // Main chat and top bar
        .chat__52833:not(.container__03ec9 > .chat__52833) {
            // Main chat
            .chatContent_f087cb {
                // Message box
                .form_d8a4a1 {
                    // Gift nitro button
                    .buttons__7ecff > .button__581d0 {
                        @include ico.makeIcon(50px, auto, ".buttonWrapper_bd4bd7");
                        top: $window-top;

                        .button__493d9 {
                            margin: 0;

                            .buttonWrapper_bd4bd7 {
                                padding: 0;
                                margin: 0;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }

                    // Autocompleter
                    .autocomplete__743a5 {
                        width: calc(100% - 150px);
                    }
                }
            }

            // Forums
            .headerRow__86f2e,
            .list__5ced9 > div:first-child {
                min-width: 0;
            }

            // Members list
            .container_f79ab4 {
                @include box.startMenuList;

                position: fixed;
                right: 30px;
                top: 180px;
                height: 65vh;
                max-height: calc(100vh - 400px);
                @include box.windowHasPseudoTitle("Members");

                .members__573eb {
                    background: var(--xp-bg-color);

                    // Member group
                    .membersGroup_cad095:not(:nth-child(2)) {
                        position: relative;
                        @include box.startMenuDivider(7px);
                    }

                    // Member
                    .member_b44d5d,
                    .member_aa4760 {
                        background: var(--xp-bg-color);

                        .container_a48b21,
                        .layout_bb8e67 {
                            border-radius: 0;
                        }
                    }
                }
            }

            // VC video
            .video__004a2 {
                z-index: 0;
            }
        }

        // With members list visible
        &:has(.membersWrap__5ca6b) {
            // VC video controls
            .bottomControls__72d8d {
                width: auto;
                padding-right: 150px;
            }

            // Message
            .message_ccca67 {
                padding-right: 140px !important;

                // Message actions
                .container__2f489 {
                    right: 130px;
                }
            }
        }
    }
}
