@use "../top/vars" as *;
@use "../top/color-generic" as *;
@use "../top/boxes" as box;
@use "../top/buttons" as bt;
@use "../top/shadows" as shd;

// Servers sidebar / Taskbar
.guilds-2JjMmN {
    z-index: 0;
    --status-danger: #{$color-ping};

    // Unread indicator
    .unreadMentionsIndicatorBottom-3RJMnQ,
    .unreadMentionsIndicatorTop-2bTgUU {
        width: 100%;

        .bar-2eAyLE {
            border-radius: 0;
            background: linear-gradient(to bottom, transparent, $color-ping);
        }
    }

    // Unread icon
    .lowerBadge-3WTshO .numberBadge-37OJ3S {
        opacity: 0.8;
    }

    .scroller-3X7KbA {
        @include box.barGradient(true, $color-window-1, $color-window-2);

        // DMs icon / Start button
        .tutorialContainer-1pL9QS {
            @include box.barGradient(true, $color-start-1, $color-start-2);
            position: relative;
            padding: 5px 0 30px 0;
            border-radius: 0 0 100% 100% / 0 0 12px 12px;

            .wrapper-2PSQCG {
                .svg-2zuE5p {
                    height: inherit;
                    width: inherit;
                }

                .wrapper-3kah-n {
                    .selected-1Drb7Z,
                    &:hover {
                        .childWrapper-1j_1ub {
                            color: $white;
                        }
                    }

                    .childWrapper-1j_1ub {
                        color: $white-overlay;
                        background: transparent;
                    }
                }
            }
        }

        // Unread pill
        .item-2LIpTv {
            background: $white;
        }

        // Folder
        .folder-241Joy {
            background: radial-gradient(circle at 12px 12px, $white, $color-taskbar-1, $color-taskbar-3);
        }

        // Open folder
        .expandedFolderBackground-1kSAf6 {
            background: linear-gradient(to bottom, $color-taskbar-1, $color-taskbar-2);
        }

        // Add server and community servers
        .circleIconButton-1VxDrg {
            background: linear-gradient(to bottom, $color-taskbar-1, $color-taskbar-2);
            color: $white-overlay;
        }
    }
}

// Control panel
.panels-3wFtMD {
    width: $panel-width;
    height: auto;
    position: fixed;
    bottom: -1px;
    left: calc(100vw - $panel-width);
    @include box.barGradient(false, $color-taskbar-1, $color-taskbar-2);

    &:hover {
        z-index: 2;
    }

    &:has(.activityPanel-9icbyU, .container-2NLBJg) {
        border-radius: 8px 8px 0 0;
    }

    // Now playing game/activity
    .panel-ufc1-o {
        background: transparent;
        border-bottom: 0;

        // Game title and icon
        .title-338goq,
        .badge-370Op6 {
            color: $white;
        }
    }

    .subtext-2HDqJ7 {
        color: $white-overlay;
    }

    // Voice chat controls
    .container-2NLBJg {
        background: inherit;
        border-bottom: 0;

        // Video stream buttons
        .button-2gNyE9 {
            @include bt.button($ISBEIGE: true);

            &.buttonActive-1YQBrb {
                background: $color-tooltip-2;
                @include shd.boxShadow($ISINSET: true);
            }
        }
    }

    // User and settings
    .container-1CH86i {
        height: var(--server-container);
        flex-direction: row-reverse;
        background: transparent;

        // Self info
        .avatarWrapper-12uuu4 {
            margin: 0 0 0 6px;
            padding: 0 4px 0 0;
            flex-direction: row-reverse;

            // Username
            .nameTag-2Q56-H {
                text-shadow: 0 1px 1px $black;

                .title-338goq {
                    color: $white;
                    font-weight: normal;
                }
            }
        }
    }

    // Buttons
    .button-12Fmur {
        color: $white-overlay;
    }

    .withTagAsButton-2_JkHX:hover,
    .withTagless-Lx3LMo:hover,
    .button-12Fmur.enabled-9OeuTA:hover {
        background: linear-gradient(to bottom, $color-taskbar-3, $color-taskbar-1);
    }

    .button-12Fmur.enabled-9OeuTA:hover {
        color: $white;
    }
}
