@use "../top/vars" as *;
@use "../top/color-generic" as *;
@use "../top/boxes" as box;
@use "../top/buttons" as bt;
@use "../top/shadows" as shd;

// Servers sidebar / Taskbar
.guilds__2b93a {
    z-index: 0;
    --status-danger: #{$color-ping};

    // Unread indicator
    .unreadMentionsIndicatorBottom_fdb943,
    .unreadMentionsIndicatorTop_ada847 {
        width: 100%;

        .bar_edc096 {
            border-radius: 0;
            background: linear-gradient(to bottom, transparent, $color-ping);
        }
    }

    // Unread icon
    .lowerBadge__669e7 .numberBadge__50328 {
        opacity: 0.8;
    }

    .scroller__3d071 {
        @include box.barGradient(true, $color-window-1, $color-window-2);

        // DMs icon / Start button
        .tutorialContainer__890ea {
            @include box.barGradient(true, $color-start-1, $color-start-2);
            position: relative;
            padding: 5px 0 30px 0;
            border-radius: 0 0 100% 100% / 0 0 12px 12px;

            .wrapper__3af0b {
                .svg_ad7356 {
                    height: inherit;
                    width: inherit;
                }

                .wrapper_d281dd {
                    .selected_f5ec8e,
                    &:hover {
                        .childWrapper__01b9c {
                            color: $white;
                        }
                    }

                    .childWrapper__01b9c {
                        color: $white-overlay;
                        background: transparent;
                    }
                }
            }
        }

        // Unread pill
        .item_f9d377 {
            background: $white;
        }

        // Folder
        .folder__17546 {
            background: radial-gradient(circle at 12px 12px, $white, $color-taskbar-1, $color-taskbar-3);
        }

        // Open folder
        .expandedFolderBackground__1bec6 {
            background: linear-gradient(to bottom, $color-taskbar-1, $color-taskbar-2);
        }

        // Add server and community servers
        .circleIconButton_d8df29 {
            background: linear-gradient(to bottom, $color-taskbar-1, $color-taskbar-2);
            color: $white-overlay;
        }
    }
}

// Control panel
.panels__58331 {
    width: $panel-width;
    height: auto;
    position: fixed;
    bottom: -1px;
    left: calc(100vw - $panel-width);
    @include box.barGradient(false, $color-taskbar-1, $color-taskbar-2);

    &:hover {
        z-index: 2;
    }

    &:has(.activityPanel__22355, .container_d667ff) {
        border-radius: 8px 8px 0 0;
    }

    // Now playing game/activity
    .panel_bd8c76 {
        background: transparent;
        border-bottom: 0;

        // Game title and icon
        .title__10613,
        .badge__1a553 {
            color: $white;
        }
    }

    .subtext__8f869 {
        color: $white-overlay;
    }

    // Voice chat controls
    .container_d667ff {
        background: inherit;
        border-bottom: 0;

        // Video stream buttons
        .button__66e8c {
            @include bt.button($ISBEIGE: true);

            &.buttonActive__407a7 {
                background: $color-tooltip-2;
                @include shd.boxShadow($ISINSET: true);
            }
        }
    }

    // User and settings
    .container_ca50b9 {
        height: var(--server-container);
        flex-direction: row-reverse;
        background: transparent;

        // Self info
        .avatarWrapper_ba5175 {
            margin: 0 0 0 6px;
            padding: 0 4px 0 0;
            flex-direction: row-reverse;

            // Username
            .nameTag__0e320 {
                text-shadow: 0 1px 1px $black;

                .title__10613 {
                    color: $white;
                    font-weight: normal;
                }
            }
        }
    }

    // Buttons
    .button__4f306 {
        color: $white-overlay;
    }

    .withTagAsButton_cc125f:hover,
    .withTagless__98b7d:hover,
    .button__4f306.enabled__470f0:hover {
        background: linear-gradient(to bottom, $color-taskbar-3, $color-taskbar-1);
    }

    .button__4f306.enabled__470f0:hover {
        color: $white;
    }
}
