@use "../top/vars" as *;
@use "../top/boxes" as box;

// Main chat with thread open
.chat__52833.threadSidebarOpen_fa231d {
    border-radius: 0;

    // Message needs no indent as member list cannot be visible at once.
    .chatContent__5dca8 .message__80c10 {
        margin-right: 0 !important;
    }

    // Neither does autocompleter
    .autocomplete_df266d {
        width: auto !important;
    }
}

.resizeHandle_f1a098 {
    background: $color-window-2;
}

// Floating thread panel
.floating_f021e2 {
    border-radius: 0;
}

// Threads not video chat
.content__4bf10 > {
    // Main chat / thread separator
    .resizeHandle_f1a098 {
        position: relative;
        right: $window-right;
        margin: $window-top 0 $window-bottom 0;
        height: auto;
    }

    // Thread panel
    .container_def45c {
        position: relative;
        margin: $window-top 0 $window-bottom 0;
        right: $window-right;
        border-radius: 0;
        max-width: 100%;
        @include box.windowBox(3px);
    }

    // Floating thread panel for narrow screens
    .chatLayerWrapper__29dd6 {
        // margin: $window-top $window-right $window-bottom 0;
        top: $window-top;
        right: calc($window-right + 2px);
        bottom: calc($window-bottom + 2px);
        height: auto;
    }
}

.chatTarget__0ea5e {
    display: none;
}
