@use "../top/vars" as *;
@use "../top/boxes" as box;

// Main chat with thread open
.chat__52833.threadSidebarOpen__62c31 {
    border-radius: 0;

    // Message needs no indent as member list cannot be visible at once.
    .chatContent_f087cb .message_ccca67 {
        margin-right: 0 !important;
    }

    // Neither does autocompleter
    .autocomplete__743a5 {
        width: auto !important;
    }
}

.resizeHandle_cc9d34 {
    background: $color-window-2;
}

// Floating thread panel
.floating__8f631 {
    border-radius: 0;
}

// Threads not video chat
.content__76dcf > {
    // Main chat / thread separator
    .resizeHandle_cc9d34 {
        position: relative;
        right: $window-right;
        margin: $window-top 0 $window-bottom 0;
        height: auto;
    }

    // Thread panel
    .container__694a1 {
        position: relative;
        margin: $window-top 0 $window-bottom 0;
        right: $window-right;
        border-radius: 0;
        max-width: 100%;
        @include box.windowBox(3px);
    }

    // Floating thread panel for narrow screens
    .chatLayerWrapper__1b344 {
        // margin: $window-top $window-right $window-bottom 0;
        top: $window-top;
        right: calc($window-right + 2px);
        bottom: calc($window-bottom + 2px);
        height: auto;
    }
}

.chatTarget_f14a03 {
    display: none;
}
