@use "../top/vars" as *;
@use "../top/boxes" as box;

// Main chat with thread open
.chat-9g_3Xj:is(.threadSidebarOpen-1LSXvU, .threadSidebarOpen-lv7sGl) {
    border-radius: 0;

    // Message needs no indent as member list cannot be visible at once.
    :is(.chatContent-3KubbW, .chatContent-2O4SXb) .message-2CShn3 {
        margin-right: 0 !important;
    }

    // Neither does autocompleter
    .autocomplete-3NRXG8 {
        width: auto !important;
    }
}

:is(.resizeHandle-PBRzPC, .resizeHandle-2F4Beb) {
    background: $color-window-2;
}

// Floating thread panel
:is(.floating-3M3WeH, .floating-1T0kDs) {
    border-radius: 0;
}

// Threads not video chat
.content-1SgpWY > {
    // Main chat / thread separator
    :is(.resizeHandle-PBRzPC, .resizeHandle-2F4Beb) {
        position: relative;
        right: $window-right;
        margin: $window-top 0 $window-bottom 0;
        height: auto;
    }

    // Thread panel
    :is(.container-3XgAHv, .container-3s2w-i) {
        position: relative;
        margin: $window-top 0 $window-bottom 0;
        right: $window-right;
        border-radius: 0;
        max-width: 100%;
        @include box.windowBox(3px);
    }

    // Floating thread panel for narrow screens
    :is(.chatLayerWrapper-2mgEK-, .chatLayerWrapper-1K7IFZ) {
        // margin: $window-top $window-right $window-bottom 0;
        top: $window-top;
        right: calc($window-right + 2px);
        bottom: calc($window-bottom + 2px);
        height: auto;
    }
}

:is(.chatTarget-3H6mpC, .chatTarget-1ROClP) {
    display: none;
}
