@use "../top/vars" as *;
@use "../top/color-generic" as *;
@use "../top/boxes" as box;
@use "../top/buttons" as bt;

.withFrame_a934d8 {
    margin-top: 0;
}

.titleBar_a934d8 {
    position: absolute;
    left: $window-left;
    right: $window-right;
    top: calc($window-top - $title-height);
    z-index: 2;
    @include box.windowTitle();

    // Discord logo
    .wordmarkWindows_a934d8 {
        color: $white;
        padding-top: 2px;

        &::before {
            content: "Discord";
            display: block;
            position: relative;
            font-size: 14px;
            line-height: $title-height;
            font-weight: 600;
            font-family: Tahoma, sans-serif;
            text-shadow: 0 1px 1px $black;
        }

        svg {
            display: none;
        }
    }

    // Min / Max / Close buttons
    .winButton_a934d8 {
        @include bt.winButton(20px, false);

        &.winButtonClose_a934d8 {
            @include bt.winButton(20px, true);
        }
    }
}
