.theme-dark {
    --xp-bg-addon-lumInternal: var(--xp-bg-addon-luminosity, 0%);
}

.theme-light {
    --xp-bg-addon-lumInternal: var(--xp-bg-addon-luminosity, 100%);
}

.theme-dark,
.theme-light {
    --background-primary: hsla(0, 0%, var(--xp-bg-addon-lumInternal, 0%), var(--xp-bg-addon-opacity, 0.4));
    --background-secondary: hsla(0, 0%, var(--xp-bg-addon-lumInternal, 0%), var(--xp-bg-addon-opacity, 0.4));
    --background-tertiary: hsla(0, 0%, var(--xp-bg-addon-lumInternal, 0%), var(--xp-bg-addon-opacity, 0.4));
    --channeltextarea-background: hsla(0, 0%, var(--xp-bg-addon-lumInternal, 0%), var(--xp-bg-addon-opacity, 0.2));
    --home-background: hsla(0, 0%, var(--xp-bg-addon-lumInternal, 0%), var(--xp-bg-addon-opacity, 0.4));
    --scrollbar-auto-track: hsla(0, 0%, var(--xp-bg-addon-lumInternal, 0%), var(--xp-bg-addon-opacity, 0.4));
    --scrollbar-auto-thumb: hsla(0, 0%, var(--xp-bg-addon-lumInternal, 0%), calc(var(--xp-bg-addon-opacity, 0.4) * 2));
}

.container__5c7e7,
.pageWrapper_fef757,
.scroller_e9501c,
.applicationStore_fc7d76,
.standardSidebarView__1129a,
.chat__52833 {
    background: var(--xp-bg-addon-image, url(https://saltssaumure.github.io/xp-discord-theme/img/bliss.avif)) center/cover;
}

.form__13a2c::before {
    display: none;
}
