.theme-dark {
    --xp-bg-addon-lumInternal: var(--xp-bg-addon-luminosity, 0%);
}

.theme-light {
    --xp-bg-addon-lumInternal: var(--xp-bg-addon-luminosity, 100%);
}

.theme-dark,
.theme-light {
    --background-primary: hsla(0, 0%, var(--xp-bg-addon-lumInternal, 0%), var(--xp-bg-addon-opacity, 0.4));
    --background-secondary: hsla(0, 0%, var(--xp-bg-addon-lumInternal, 0%), var(--xp-bg-addon-opacity, 0.4));
    --background-tertiary: hsla(0, 0%, var(--xp-bg-addon-lumInternal, 0%), var(--xp-bg-addon-opacity, 0.4));
    --channeltextarea-background: hsla(0, 0%, var(--xp-bg-addon-lumInternal, 0%), var(--xp-bg-addon-opacity, 0.2));
    --home-background: hsla(0, 0%, var(--xp-bg-addon-lumInternal, 0%), var(--xp-bg-addon-opacity, 0.4));
    --scrollbar-auto-track: hsla(0, 0%, var(--xp-bg-addon-lumInternal, 0%), var(--xp-bg-addon-opacity, 0.4));
    --scrollbar-auto-thumb: hsla(0, 0%, var(--xp-bg-addon-lumInternal, 0%), calc(var(--xp-bg-addon-opacity, 0.4) * 2));
}

.container_bd15da,
.pageWrapper_c182d3,
.scroller__32e73,
.applicationStore__444b9,
.standardSidebarView__12528,
.chat__52833 {
    background: var(--xp-bg-addon-image, url(https://saltssaumure.github.io/xp-discord-theme/img/bliss.avif)) center/cover;
}

.form_d8a4a1::before {
    display: none;
}
